name: Unit Test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  lint:
    uses: sxzz/workflows/.github/workflows/unit-test.yml@v1
    with:
      skip-test: true

  test:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os:
          - ubuntu-latest
          - windows-latest
        node: [20, 22.15, 22, 24, 25]
      fail-fast: false

    steps:
      - name: Setup JS
        uses: sxzz/workflows/setup-js@v1
        with:
          node-version: ${{ matrix.node }}

      - name: Build
        run: pnpm run build

      - name: Test
        run: pnpm run test
